In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')

In [3]:
# the intial read in
production_df = pd.read_excel("../data/Total production.xlsx")

production_df.head()

,Total production by all exporting countries,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,In thousand 60kg bags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Crop year,NaN,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,April group,NaN,40795.2926,42529.5454,46868.2042,40166.7591,39990.3663,29395.9601,44297.8201,39475.8391,...,71811.3709,64395.2131,75895.881,74494.0133,69873.1443,71331.7881,75507.8515,70324.4647,81707.9885,76075.7437

In [4]:
# I needed to place the header at the 3rd row
production_df = pd.read_excel("../data/Total production.xlsx", header=3)
# change 2 column names
production_df = production_df.rename(columns={"Unnamed: 1" : "Coffee type", "Crop year" : "Country"})
# drop NaNs
production_df.dropna(how='all', inplace=True)

production_df.head(10)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
1,April group,NaN,40795.2926,42529.5454,46868.2042,40166.7591,39990.3663,29395.9601,44297.8201,39475.8391,...,71811.3709,64395.2131,75895.8810,74494.0133,69873.1443,71331.7881,75507.8515,70324.4647,81707.9885,76075.7437
2,Angola,(R/A),50.3450,79.3310,77.5200,32.6080,76.8020,62.1090,70.9250,64.3300,...,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
3,Bolivia (Plurinational State of),(A),122.7770,103.5360,120.2350,50.8230,116.9440,142.4850,124.5790,140.7190,...,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
4,Brazil,(A/R),27285.6286,27293.4934,34603.3542,28166.9786,28192.0470,18060.2022,29196.7430,26148.0040,...,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
5,Burundi,(A/R),487.3930,667.1990,620.2380,393.3540,664.1430,433.9800,400.9690,249.7850,...,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
6,Ecuador,(A/R),1503.8150,2123.8240,1185.4800,2069.0070,2375.7660,1888.2330,1992.9140,1190.6630,...,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352
7,Indonesia,(R/A),7441.3830,8493.1960,5569.4780,6743.2880,5367.8780,4573.4290,8220.5840,7620.7780,...,9128.5118,6888.9233,13070.0386,12900.9493,10946.2773,12585.4751,11541.0266,10852.3153,9617.5942,11432.9425
8,Madagascar,(R),982.4470,932.5130,1121.6840,441.8590,641.3720,785.0090,849.0080,623.8040,...,529.7233,584.8528,499.7094,584.4758,501.4544,414.2320,452.7566,404.1924,379.3768,383.3125
9,Malawi,(A),104.6280,124.2860,137.1610,62.1110,84.1120,91.2350,48.6500,60.8200,...,16.9285,25.8264,22.8262,27.7944,24.7098,21.2015,19.5160,14.4703,12.8656,16.0431
10,Papua New Guinea,(A/R),962.8410,746.8160,900.1110,1019.4810,1138.6590,1002.3630,1089.3480,1074.0210,...,866.5184,1413.8545,716.4880,835.3594,797.5642,711.9818,1171.1449,733.9382,930.3690,751.7210

In [5]:
#Looking at the top row, I need to see what other rows do not have a coffee type
production_df['Coffee type'].isna()

1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
26     True
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
62     True
63     True
Name: Coffee type, dtype: bool

In [6]:
# drop rows with NaN, then reset the index
production_df.drop(index=[1, 17, 26, 62, 63], axis=0, inplace=True)
production_df.reset_index(drop=True)
production_df.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
2,Angola,(R/A),50.3450,79.3310,77.5200,32.6080,76.802,62.1090,70.925,64.330,...,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
3,Bolivia (Plurinational State of),(A),122.7770,103.5360,120.2350,50.8230,116.944,142.4850,124.579,140.719,...,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
4,Brazil,(A/R),27285.6286,27293.4934,34603.3542,28166.9786,28192.047,18060.2022,29196.743,26148.004,...,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
5,Burundi,(A/R),487.3930,667.1990,620.2380,393.3540,664.143,433.9800,400.969,249.785,...,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
6,Ecuador,(A/R),1503.8150,2123.8240,1185.4800,2069.0070,2375.766,1888.2330,1992.914,1190.663,...,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352

In [7]:
# replace the coffee types with something more readable
production_df.replace({"(A)" : "Arabica",
                       "(R)" : "Robusta",
                       "(R/A)" : "Robusta/Arabica",
                       "(A/R)" : "Arabica/Robusta"},
                      inplace=True)
print(production_df.shape)
production_df.head()

(55, 32)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
2,Angola,Robusta/Arabica,50.3450,79.3310,77.5200,32.6080,76.802,62.1090,70.925,64.330,...,34.9700,28.7150,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419
3,Bolivia (Plurinational State of),Arabica,122.7770,103.5360,120.2350,50.8230,116.944,142.4850,124.579,140.719,...,117.2249,131.8354,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654
4,Brazil,Arabica/Robusta,27285.6286,27293.4934,34603.3542,28166.9786,28192.047,18060.2022,29196.743,26148.004,...,55428.4102,48591.8289,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127
5,Burundi,Arabica/Robusta,487.3930,667.1990,620.2380,393.3540,664.143,433.9800,400.969,249.785,...,352.9776,204.1328,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688
6,Ecuador,Arabica/Robusta,1503.8150,2123.8240,1185.4800,2069.0070,2375.766,1888.2330,1992.914,1190.663,...,853.9798,825.4144,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352

In [8]:
production_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 2 to 60
Data columns (total 32 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      55 non-null     object
 1   Coffee type  55 non-null     object
 2   1990/91      55 non-null     float64
 3   1991/92      55 non-null     float64
 4   1992/93      55 non-null     float64
 5   1993/94      55 non-null     float64
 6   1994/95      55 non-null     float64
 7   1995/96      55 non-null     float64
 8   1996/97      55 non-null     float64
 9   1997/98      55 non-null     float64
 10  1998/99      55 non-null     float64
 11  1999/00      55 non-null     float64
 12  2000/01      55 non-null     float64
 13  2001/02      55 non-null     float64
 14  2002/03      55 non-null     float64
 15  2003/04      55 non-null     float64
 16  2004/05      55 non-null     float64
 17  2005/06      55 non-null     float64
 18  2006/07      55 non-null     float64
 19  2007/08      55 non-null     float64
 20  2008/09      55 non-null     float64
 21  2009/10      55 non-null     float64
 22  2010/11      55 non-null     float64
 23  2011/12      55 non-null     float64
 24  2012/13      55 non-null     float64
 25  2013/14      55 non-null     float64
 26  2014/15      55 non-null     float64
 27  2015/16      55 non-null     float64
 28  2016/17      55 non-null     float64
 29  2017/18      55 non-null     float64
 30  2018/19      55 non-null     float64
 31  2019/20      55 non-null     float64
dtypes: float64(30), object(2)
memory usage: 14.2+ KB

In [13]:
production_df.iloc[:, 2:32].round(2)

,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,1998/99,1999/00,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
2,50.34,79.33,77.52,32.61,76.80,62.11,70.92,64.33,85.34,54.94,...,34.97,28.72,32.79,34.94,39.40,40.52,44.83,35.01,41.90,51.84
3,122.78,103.54,120.24,50.82,116.94,142.49,124.58,140.72,137.99,157.70,...,117.22,131.84,105.28,119.91,99.88,84.22,77.98,83.81,82.57,81.27
4,27285.63,27293.49,34603.35,28166.98,28192.05,18060.20,29196.74,26148.00,36760.85,47577.81,...,55428.41,48591.83,55418.00,54688.97,53304.77,52870.59,56788.18,52739.82,65130.80,58210.71
5,487.39,667.20,620.24,393.35,664.14,433.98,400.97,249.78,491.99,350.55,...,352.98,204.13,405.96,163.22,247.55,269.46,196.41,202.11,204.34,272.47
6,1503.82,2123.82,1185.48,2069.01,2375.77,1888.23,1992.91,1190.66,1205.97,1197.68,...,853.98,825.41,828.10,665.54,644.01,644.49,644.88,623.57,496.00,558.94
7,7441.38,8493.20,5569.48,6743.29,5367.88,4573.43,8220.58,7620.78,7295.96,6557.07,...,9128.51,6888.92,13070.04,12900.95,10946.28,12585.48,11541.03,10852.32,9617.59,11432.94
8,982.45,932.51,1121.68,441.86,641.37,785.01,849.01,623.80,991.80,427.32,...,529.72,584.85,499.71,584.48,501.45,414.23,452.76,404.19,379.38,383.31
9,104.63,124.29,137.16,62.11,84.11,91.24,48.65,60.82,64.32,59.00,...,16.93,25.83,22.83,27.79,24.71,21.20,19.52,14.47,12.87,16.04
10,962.84,746.82,900.11,1019.48,1138.66,1002.36,1089.35,1074.02,1352.15,1387.05,...,866.52,1413.85,716.49,835.36,797.56,711.98,1171.14,733.94,930.37,751.72
11,130.63,79.65,54.29,66.53,25.26,26.25,30.84,49.34,31.74,18.97,...,20.20,20.02,20.01,20.03,20.02,20.00,20.01,20.00,20.01,20.00
12,936.63,1200.47,1761.95,665.50,1178.63,1870.94,1805.86,1929.96,2102.30,2743.53,...,4068.82,5372.53,4450.05,4106.24,2883.23,3303.55,4222.88,4279.08,4263.34,3836.38
13,534.88,483.83,638.88,443.62,22.45,329.08,293.00,193.42,222.64,307.27,...,322.92,251.07,258.56,257.73,238.34,292.63,231.09,264.45,379.84,347.98
14,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,60.10,47.35,60.75,80.22,110.92,59.16,82.02,64.89,139.10,103.05
15,251.90,201.39,77.82,11.60,106.30,130.64,174.39,130.19,149.45,125.48,...,10.09,8.86,7.32,8.64,15.01,14.28,15.12,6.80,9.88,9.08
18,2.92,3.00,3.17,3.00,7.58,11.76,13.86,3.27,3.00,3.00,...,3.00,3.00,3.00,3.00,3.00,3.00,3.00,3.00,3.01,3.00
19,414.21,302.10,284.24,285.40,284.32,284.96,365.86,300.02,279.95,327.99,...,108.50,100.16,88.14,106.68,101.42,99.82,102.60,113.23,127.65,130.18
20,880.06,320.56,637.82,603.94,729.67,885.62,518.85,941.24,486.59,606.88,...,378.16,490.54,488.43,425.39,396.95,399.95,412.21,412.43,430.91,401.63
21,392.88,463.35,499.86,450.70,450.25,513.95,428.39,431.82,439.25,399.03,...,349.53,349.19,349.73,345.21,343.21,340.86,341.58,342.38,346.89,346.65
22,973.63,1018.48,919.85,874.86,876.76,849.59,889.82,935.47,676.73,621.76,...,189.05,179.66,177.46,185.68,193.21,208.07,214.64,203.32,206.21,306.53
23,931.78,789.98,786.43,734.38,679.02,897.12,763.94,623.78,739.31,842.22,...,845.91,641.04,1151.12,810.94,752.67,930.17,846.09,783.40,1174.86,926.39
24,22.69,29.14,29.31,26.61,21.46,26.33,33.02,38.46,61.69,58.72,...,13.18,11.19,5.37,10.75,2.61,3.69,13.32,18.62,34.28,14.54
27,1682.48,1725.95,260.38,682.91,405.56,660.04,1432.19,888.94,1113.94,1369.82,...,527.13,669.32,371.02,403.83,483.11,390.84,291.88,369.55,309.59,268.21
28,175.27,124.78,133.84,165.57,249.51,108.06,207.83,114.35,214.58,240.68,...,78.46,91.32,22.89,90.10,62.61,100.02,36.73,59.91,37.14,55.14
29,14396.00,17980.40,14946.88,11422.42,12964.00,12938.02,10778.85,12122.50,10867.96,9512.25,...,8522.66,7653.33,9926.94,12124.07,13333.34,14008.78,14634.39,13824.07,13865.96,14100.12
30,2561.89,2759.62,2997.97,2358.75,2481.94,2843.60,2221.92,2616.60,2445.12,2485.33,...,1613.70,1830.90,1822.69,1552.08,1475.06,1440.17,1371.90,1560.68,1426.66,1471.76
31,2940.36,4129.30,2245.54,2293.41,3006.44,2531.86,4858.59,4164.00,1991.55,6320.44,...,836.72,2216.34,1993.84,2597.77,1728.04,1289.08,1117.40,1623.85,2175.32,1929.20
32,1580.30,1229.90,1180.16,980.26,1297.80,1098.16,794.58,811.22,738.08,477.15,...,305.16,356.54,334.05,347.09,334.87,370.61,279.39,381.70,397.14,390.60
33,2464.86,2197.69,3001.30,2378.48,2293.47,2585.18,2533.57,2174.81,2054.63,2598.14,...,1873.27,1163.76,1239.59,515.00,665.00,565.00,610.00,759.61,760.92,660.69
34,3.54,2.55,1.69,0.00,3.19,1.81,1.12,1.67,1.04,0.18,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.05,0.01,0.00
35,2909.45,2924.66,1825.17,2967.00,2762.73,3165.32,3407.44,3056.86,2927.72,3784.05,...,5560.38,5650.41,6132.01,6242.44,6383.26,6514.98,7142.98,7346.73,7511.22,7343.43
36,3.41,1.75,3.06,2.88,7.70,1.77,1.28,2.67,3.76,2.06,...,1.83,0.78,0.75,0.38,0.52,0.74,0.50,0.26,0.53,0.50
37,37.85,76.31,36.60,45.38,57.18,56.53,32.42,27.28,54.44,88.90,...,69.50,30.06,20.88,25.07,35.39,35.65,26.11,12.97,14.75,14.47
38,3270.53,3496.53,4318.48,3535.50,3787.34,4001.60,4524.56,4219.37,4892.96,5120.13,...,3949.93,3850.39,3762.93,3189.37,3310.08,3409.78,3684.21,3733.73,4006.73,3605.76
39,44.46,90.52,76.34,63.81,198.36,104.16,147.64,171.71,421.27,363.71,...,386.46,385.51,233.55,101.19,165.11,286.45,269.94,229.19,152.95,178.38
40,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,5.98,5.09,...,9.14,10.19,9.74,12.94,9.30,11.22,9.63,9.93,9.98,9.51
41,1567.96,2321.81,1918.21,1829.18,2180.73,1909.24,2004.39,2564.41,2195.14,2985.00,...,4330.69,5882.14,4686.00,4583.02,5268.22,5785.78,7456.90,7559.77,7152.88,5931.22
42,2828.69,2999.75,2823.50,3533.18,3001.56,4012.03,3417.12,4108.76,4416.77,4866.59,...,5599.97,5333.54,5403.44,5075.33,5449.87,5830.34,6160.94,5813.22,5325.39,4987.63
43,22.57,38.99,25.58,34.29,44.60,43.08,53.86,47.02,29.08,37.97,...,20.55,24.01,23.72,19.83,21.05,20.01,18.04,19.05,17.85,22.88
44,1485.14,1514.05,1315.55,1328.11,1663.13,1664.23,1246.75,881.96,1172.88,1501.89,...,640.87,757.32,875.45,842.95,769.76,799.17,792.77,789.52,930.42,843.71
45,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,171.42,238.77,...,544.36,514.00,540.50,544.42,552.49,535.16,510.33,533.37,646.78,621.84
46,3.00,3.00,3.00,5.00,5.00,5.00,5.00,5.00,17.78,12.16,...,10.44,10.24,10.12,5.94,7.07,10.05,12.09,16.30,5.94,5.85
47,4674.24,4727.21,3400.81,5023.49,4158.78,5299.89,5109.55,4801.56,4801.35,6218.68,...,4001.43,4561.06,4326.94,3916.48,3636.40,2772.04,3635.29,4484.58,4350.70,3984.60
48,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,3.08,2.01,1.21,0.91,2.14,1.68,1.43,2.45,0.55,0.69
49,461.08,707.07,547.29,706.13,682.97,984.68,793.30,1083.52,1073.08,1554.05,...,1637.82,2193.42,1873.47,2059.86,1897.68,2130.42,2555.30,2642.29,2879.10,2882.32
50,29.19,44.31,48.88,45.32,51.63,53.04,45.98,44.67,53.40,45.07,...,42.06,46.88,40.76,40.86,42.80,41.28,43.32,42.29,41.52,42.47
51,214.99,192.53,196.98,142.07,248.31,209.45,210.74,217.47,192.00,166.38,...,113.85,105.63,115.52,113.47,106.22,127.08,120.19,104.56,127.74,114.41
52,42.78,54.38,39.08,37.45,72.74,43.77,40.91,49.68,26.88,59.02,...,32.91,78.30,61.18,31.73,46.45,45.93,37.92,37.95,44.74,39.99
53,95.87,81.55,53.18,53.79,42.45,35.60,37.00,57.58,45.74,31.72,...,37.09,35.70,35.25,37.08,35.70,36.19,36.72,36.78,35.88,36.22
54,757.02,1468.94,1254.94,1275.20,1399.14,1317.23,1403.58,1293.08,915.99,1272.84,...,828.17,831.28,608.09,638.00,844.89,761.98,537.54,638.23,482.01,516.58
55,161.31,432.65,85.65,194.94,176.30,84.40,290.59,221.08,321.49,262.81,...,160.29,160.05,84.06,171.51,143.24,80.92,23.28,114.72,54.26,40.62
56,14.58,17.79,14.33,16.08,18.43,17.63,18.19,19.39,17.02,16.89,...,10.36,11.16,12.23,12.22,12.00,11.79,11.79,12.00,13.32,11.69
57,1955.01,2088.00,2185.07,3141.71,2392.75,3243.58,3418.72,3439.87,3385.84,2862.45,...,3267.23,3115.06,3913.50,3632.87,3744.48,3649.57,4962.16,4596.81,4703.96,5509.15
58,1122.48,940.70,1215.30,1332.88,989.00,1466.55,1206.16,951.28,1597.28,1366.84,...,1202.13,902.07,952.42,803.77,650.40,500.13,525.00,571.51,578.39,650.10
59,1310.29,1437.85,2340.45,3020.22,3631.61,3970.09,5752.48,6978.94,7051.72,11630.91,...,20000.00,26499.61,23402.11,27609.78,27240.52,31090.04,27819.18,33432.50,30283.07,30487.16
60,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,68.70,60.58,...,161.17,185.07,187.53,187.30,178.38,156.25,143.45,132.13,85.58,91.43

In [21]:
for col in [x for x in production_df.columns if x != 'Country' and x for x in production_df.columns if x != 'Coffee Type']:
    production_df[col] = production_df[col].astype(float).round(2)

ValueError: could not convert string to float: 'Angola'

In [14]:
production_df.sample(5)

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
47,Mexico,Arabica/Robusta,4674.245,4727.206,3400.811,5023.4880,4158.7770,5299.8880,5109.5510,4801.5610,...,4001.4319,4561.0578,4326.9422,3916.4766,3636.4007,2772.0393,3635.2949,4484.5814,4350.7012,3984.6011
35,Ethiopia,Arabica,2909.451,2924.664,1825.171,2967.0040,2762.7300,3165.3220,3407.4420,3056.8640,...,5560.3848,5650.4099,6132.0066,6242.4439,6383.2618,6514.9754,7142.9796,7346.7332,7511.2234,7343.4329
19,Cuba,Arabica,414.212,302.097,284.237,285.4040,284.3150,284.9550,365.8650,300.0210,...,108.4970,100.1580,88.1420,106.6850,101.4210,99.8181,102.6000,113.2259,127.6510,130.1829
24,Zambia,Arabica,22.686,29.138,29.307,26.6060,21.4550,26.3330,33.0250,38.4620,...,13.1783,11.1889,5.3695,10.7527,2.6111,3.6890,13.3181,18.6156,34.2825,14.5428
11,Paraguay,0,130.627,79.653,54.291,66.5275,25.2643,26.2539,30.8431,49.3411,...,20.1967,20.0195,20.0065,20.0319,20.0195,20.0000,20.0104,20.0013,20.0135,20.0038